<h1>Simple Stories</h1>
<p>Single-page application, built with:</p>
<ul>
  <li><a href='https://get.asp.net/'>ASP.NET Core</a> and <a href='https://msdn.microsoft.com/en-us/library/67ef8sbd.aspx'>C#</a> for cross-platform server-side code</li>
  <li><a href='https://angular.io/'>Angular</a> and <a href='http://www.typescriptlang.org/'>TypeScript</a> for client-side code</li>
  <li><a href='http://getbootstrap.com/'>Bootstrap</a> for layout and styling</li>
</ul>
<p>Also using:</p>
<ul>
  <li>VSCode</li>
  <li>GitHub</li>
  <li>Azure Free Trial</li>
</ul>
<p>Cupcake ipsum dolor sit amet liquorice tiramisu liquorice. Shortbread jujubes candy canes tart pie cake caramels. Candy canes apple pie wafer bear claw soufflé fruitcake lemon drops. Donut muffin tart caramels carrot cake.</p>
<p>Tootsie roll jelly tiramisu sugar plum donut muffin wafer muffin toffee. Tiramisu chocolate cake toffee jelly beans chocolate cake tart biscuit tiramisu dragée. Donut halvah muffin chocolate bar gummi bears cotton candy chocolate cake.</p>
<p>Soufflé dessert topping sweet roll chocolate cake cookie gingerbread. Danish lemon drops chupa chups toffee bonbon sugar plum ice cream bonbon. Jujubes gummi bears jujubes cake danish tiramisu dragée sugar plum. Caramels carrot cake cheesecake bonbon jelly-o. Sweet roll chupa chups chocolate powder soufflé. Tootsie roll lemon drops gummies gingerbread lemon drops oat cake chocolate. Sweet roll gummies jelly beans sweet marzipan. Marshmallow ice cream shortbread brownie cake chocolate bar cake wafer lemon drops. Danish toffee tart jelly icing. Lemon drops liquorice powder ice cream dessert. Pudding donut cake marshmallow gingerbread powder cookie pudding. Carrot cake sesame snaps dessert soufflé macaroon cake liquorice.</p>
<p>I love brownie toffee chocolate bar icing cake muffin pastry. Toffee danish halvah I love sesame snaps chocolate bar. Powder croissant cake chocolate cake cheesecake. Icing gingerbread fruitcake pudding gummies gummies I love chocolate. Macaroon macaroon carrot cake I love marshmallow. Marshmallow cookie halvah wafer cake. Lemon drops I love marzipan croissant jujubes I love pudding croissant apple pie.</p>
